<div class="container">
  <h1 class='text-center'><%= "Esta é a página do user: #{@user.id}" %></h1>

  <h2 class='text-center'><%= "Lista de compras feitas:" %></h2>
    <% @orders.each do |order| %>
      <div class="flat-card">
        <img src="https://www.ladrilar.com.br/wp-content/uploads/2020/12/cinza-escuro.png">
        <div class="product-name">
          <h3> <%= order.product.name %> </h3>
        </div>
        <div class="product-price">
          <%= order.product.price %>
        </div>
      </div>
    <% end %>
  <h2 class='text-center'><%= "Lista de itens adicionados:" %></h2>
</div>