
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-between w-100">

  <%= link_to 'Red Lights', root_path,  class: 'logo' %>
<%#
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
       <% if user_signed_in? %>
       <div>
        <div>
          <%= link_to 'Shop', products_path,  class: 'bnt btn-ghost' %>
          <%= link_to 'Editar perfil', edit_user_registration_path,  class: 'bnt btn-ghost' %>
          <%= link_to 'Minha página', profiles_products_path, class: 'bnt btn-ghost' %>
          <%= link_to "Log out", destroy_user_session_path, class: 'bnt btn-ghost', data: {turbo_method: :delete} %>
        </div>
          <%# Logado como: <strong><%= current_user.email %>
            <%# index e adicionar produto %>
        </div>
        <% else %>
          <!--li class="nav-item"-->
          <div class="login">
            <%= link_to "Login", new_user_session_path, class: "nav-link",  class: 'bnt btn-ghost' %>
          </div>
          <!--/li-->
        <% end %>
      </ul>
    </div>
    <div class="theavatar">
       <%= image_tag "https://cdn-icons-png.flaticon.com/512/4202/4202848.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
       </div>
  </div>
</div>
