<div class="container">
  <div>
    <h1>Confirme a sua compra:</h1>
  </div>
  <div class="container mt-3">
    <div class = "row justify-content-center">
      <div class = "col-8 card-login">
        <div class = "text-center">
          <h2><%= @product.name %></h2>
          <%= cl_image_tag("pqzuq6th6ppaxwbpxmjl", width: 400, height: 300, crop: :fit) %>
          <%# <%= cl_image_tag @products.photo.new, width: 400, height: 300, crop: :fill %>
        </div>
        <div class = "col-6 d-flex justify-content-center">
        <%= simple_form_for [@product, @order] do |f| %>
          <%= f.input :quantity, :label => "Quantidade:", collection: (1..10)%>
          <%= f.submit "Salvar", class: "btn btn-success mt-3" %>
          <%= link_to "Voltar", product_path(@product), class: "btn btn-dark mt-3" %>
        <% end %>
        </div>
      </div>  
    </div>
  </div>
</div>