<div class="container">
  <h1>Adicione uma nova ordem:</h1>

  <div class="card-product mt-5">
      <p><%= @product.name %></p>
  </div>

  <div class="container mt-3">
        <%= simple_form_for [@product, @order] do |f| %>
          <%= f.input :quantity, collection: (1..10) %>
          <%= f.input :total_price, placeholder: 'Preço total' %>
          <%= f.submit "Salvar", class: "btn btn-success mt-3" %>
          <%# <%= link_to "Voltar", product_path(@order.product), class: "btn btn-dark mt-3" %>
        <% end %>
  </div>
</div>