<div class="container">
  <h1>Adicione uma nova compra:</h1>

  <%= cl_image_tag("pqzuq6th6ppaxwbpxmjl", width: 400, height: 300, crop: :fill) %>

  <div class="container mt-3">
    <div class="card-product mt-5">
        <p><%= @product.name %></p>
    </div>
    <%= simple_form_for [@product, @order] do |f| %>
      <%= f.input :quantity, collection: (1..10) %>
      <%= f.submit "Salvar", class: "btn btn-success mt-3" %>
      <%= link_to "Voltar", product_path(@product), class: "btn btn-dark mt-3" %>
    <% end %>
  </div>
</div>