<div class="container">
  <h1 class='text-center'><strong><%= "COMPRA CONFIRMADA!" %></strong></h1>
  <h2 class='text-center'><%= "Você acaba de adquirir o seu novo #{@order.product.name}" %></h2>
  <div class="card-order my-5">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" width="500"/>
    <div class="card-order-info">
    <p><strong> Item: </strong><%= @order.product.name %></p>
    <p><strong> Descrição: </strong><%= @order.product.description %></p>
    <p><strong> Categoria: </strong><%= @order.product.category %></p>
    <p><strong> Quantidade: </strong><%= @order.quantity %></p>
    <p><strong> Valor total: </strong><%= @order.quantity * @order.product.price %></p>
    <%= link_to 'Continuar comprando', root_path, class: 'btn btn-secondary mt-4' %>
    </div>
  </div>
</div>
