<div class="container">
  <h1 class='text-center'><%= "Parabéns!!!! Você acaba de adquirir o seu novo #{@product.name}" %></h1>
  <div class="card-product mt-5">
    <p><%= @product.name %></p>
    <p><%= @product.description %></p>
    <p><%= @product.category %></p>
    <p><%= @order.quantity %></p>
    <p><%= @order.total_price %></p>

    <%= link_to 'Continuar comprando', root_path, class: 'btn btn-secondary mt-4' %>
  </div>
</div>
