<div class="container">
  <h1 class='text-center'><%= "Parabéns!!!! Você acaba de adquirir o seu novo #{@order.product.name}" %></h1>
  <div class="card-product mt-5">
    <p><strong> Item: </strong><%= @order.product.name %></p>
    <p><strong> Descrição: </strong><%= @order.product.description %></p>
    <p><strong> Categoria: </strong><%= @order.product.category %></p>
    <p><strong> Quantidade: </strong><%= @order.quantity %></p>
    <p><strong> Valor total: </strong><%= @order.quantity * @order.product.price %></p>
    <%= link_to 'Continuar comprando', root_path, class: 'btn btn-secondary mt-4' %>
  </div>
</div>