<div class="container">
  <h1>Adicione um novo produto:</h1>
</div>

<div class="container mt-3">
      <%= simple_form_for(@product) do |f| %>
        <%= f.input :name, placeholder: 'Nome do produto' %>
        <%= f.input :price, placeholder: 'Preço por unidade' %>
        <%= f.input :category, collection: Product::CATEGORY %>
        <%= f.input :description, placeholder: 'Descrição do produto' %>
        <%# <%= f.input :photo, as: :file %>
        <%= f.submit "Salvar", class: "btn btn-success mt-3" %>
        <%= link_to "Voltar", profiles_products_path, class: "btn btn-dark mt-3" %>
      <% end %>
</div>
