<h1>Meus produtos adicionados:</h1>
<div class="products-container">
  <% @my_products.each do |product| %>
    <div class="flat-card">
      <img src="https://i.pinimg.com/564x/d1/d7/3e/d1d73e69b6f6e93c80bc621545cbe928.jpg">
      <div class="product-name">
        <h3> <%= product.name %> </h3>
      </div>
      <div class="product-price">
        <%= product.price %>
      </div>

    </div>
  <% end %>
</div>

<div class="products-container">
  <%= link_to "ADICIONAR UM NOVO PRODUTO", new_product_path, class: "btn btn-success mt-3" %>
</div>

<h1>Produtos comprados:</h1>
<div class="products-container">
  <% @purchased_products.each do |product| %>
    <div class="flat-card">
      <img src="https://i.pinimg.com/564x/d1/d7/3e/d1d73e69b6f6e93c80bc621545cbe928.jpg">
      <div class="product-name">
        <h3> <%= product.name %> </h3>
      </div>
      <div class="product-price">
        <%= product.price %>
      </div>

    </div>
  <% end %>
</div>