<h1><%= "Bem vindo #{current_user.email} "%></h1>

<h1>Produtos comprados:</h1>
<div class="products-container">
  <% @purchased_products.each do |product| %>
    <div class="flat-card">
      <img src="https://i.pinimg.com/564x/d1/d7/3e/d1d73e69b6f6e93c80bc621545cbe928.jpg">
      <div class="product-name">
        <h3> <%= product.name %> </h3>
      </div>
      <div class="product-price">
        <%= product.price %>
      </div>
      <div class="d-flex">
        <%= link_to "Ver a compra??", order_path("11"), class: "btn btn-flat" %>
      </div>
    </div>
  <% end %>
</div>

<h1>Produtos adicionados por você:</h1>
<div class="products-container">
  <% @my_products.each do |product| %>
    <div class="flat-card">
      <%= cl_image_tag product.photos.first.key, width: 400, height: 300, crop: :fill %>
      <div class="product-name">
        <h3> <%= product.name %> </h3>
      </div>
      <div class="product-price">
        <%= product.price %>
      </div>
      <div class="d-flex">
        <%= link_to "Ver produto", product_path(product[:id]), class: "btn btn-flat" %>
      </div>
      <div class="d-flex">
        <%= link_to "Editar produto", edit_product_path(product[:id]), class: "btn btn-flat" %>
      </div>
      <div class="d-flex">
        <%= link_to "Deletar produto", product_path(product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-flat" %>
      </div>
    </div>
  <% end %>
</div>

<div class="products-container">
  <%= link_to "ADICIONAR UM NOVO PRODUTO", new_product_path, class: "btn btn-success mt-3" %>
</div>
