<div class="container">
<div class="btn-voltar">
         <%= link_to "Voltar", products_path,  class: "btn btn-outline-secondary mt-5"%>
        </div>

     <div class="card-product">
        <% if @product.photos.attached? %>
          <%= cl_image_tag @product.photos.first.key, width: 400, height: 300, crop: :fit %>
        <% else %>
          <img src="https://i.pinimg.com/564x/d1/d7/3e/d1d73e69b6f6e93c80bc621545cbe928.jpg"/>
        <% end %>
        <div class="card-product-infos">
          <div>
            <h3><strong> <%= @product.name %></strong></h2>
            <p><strong> Descrição: </strong><%= @product.description %></p>
            <p><strong> Categoria: </strong><%= @product.category %></p>
             <h2> <strong> Valor total: </strong><%= @product.price %></h2>
            <div>
             <%= link_to "Comprar",  new_product_order_path(@product),  class: "btn btn-success btn-lg" %>
             </div>
          </div>
        </div>
      </div>
  </div>

  </div>


</div>
