<div class="container">
  <h1 class='text-center'><%= @product.name %></h1>
  <div class="card-product mt-5">
    <p><%= @product.name %></p>
    <p><%= @product.description %></p>
    <p><%= @product.price %></p>
    <p><%= @product.category %></p>
  </div>
</div>

<%# <div class="products-container"> %>
  <%# <%= link_to "COMPRAR ESTE PRODUTO", new_product_order_path(@product), class: "btn btn-success mt-3" %>
<%# </div> %>
